{% extends 'base.html.twig' %}

{% block body %}

<br>
<div class="container">
	<h1>{{dish.name}}</h1>
	<img class="img-fluid" src="{{asset('images/' ~ dish.image)}}" alt="{{dish.image}}">
</div>

{% endblock %}
